In [1]:
import pymongo

In [2]:
cliente=pymongo.MongoClient()
db=cliente.nueva_db

In [3]:
cliente.list_database_names()

['admin', 'companies', 'config', 'earthquake', 'geo_attack', 'local']

In [4]:
colec=db.n_coleccion

In [5]:
db.list_collection_names()

[]

In [6]:
n_dict={'nombre':'Juan', 'edad':23}

colec.insert_one(n_dict)

In [7]:
db.list_collection_names()

['n_coleccion']

In [9]:
colec.insert_many([{'nombre':'Maria', 'edad':34},
                   {'nombre':'Pedro', 'edad':23, 'altura':1.8}])

In [10]:
colec.insert_one({'_id':0, 'nombre':'Ana', 'edad':31})

In [12]:
list(colec.find())

[{'_id': ObjectId('5e33016088d8961f18c425e5'), 'nombre': 'Juan', 'edad': 23},
 {'_id': ObjectId('5e3301f588d8961f18c425e6'), 'nombre': 'Maria', 'edad': 34},
 {'_id': ObjectId('5e3301f588d8961f18c425e7'),
  'nombre': 'Pedro',
  'edad': 23,
  'altura': 1.8},
 {'_id': 0, 'nombre': 'Ana', 'edad': 31}]

In [14]:
colec.insert_one({'_id':0, 'nombre':'Pepe', 'edad':29})

DuplicateKeyError: E11000 duplicate key error collection: nueva_db.n_coleccion index: _id_ dup key: { _id: 0 }

In [16]:
colec.insert_one({'nombre':'Juan', 'edad':23})

In [17]:
list(colec.find())

[{'_id': ObjectId('5e33016088d8961f18c425e5'), 'nombre': 'Juan', 'edad': 23},
 {'_id': ObjectId('5e3301f588d8961f18c425e6'), 'nombre': 'Maria', 'edad': 34},
 {'_id': ObjectId('5e3301f588d8961f18c425e7'),
  'nombre': 'Pedro',
  'edad': 23,
  'altura': 1.8},
 {'_id': 0, 'nombre': 'Ana', 'edad': 31},
 {'_id': ObjectId('5e3302b888d8961f18c425e8'), 'nombre': 'Juan', 'edad': 23}]

In [18]:
list(colec.find().limit(2))

[{'_id': ObjectId('5e33016088d8961f18c425e5'), 'nombre': 'Juan', 'edad': 23},
 {'_id': ObjectId('5e3301f588d8961f18c425e6'), 'nombre': 'Maria', 'edad': 34}]

In [20]:
list(colec.find({'edad':23}))

[{'_id': ObjectId('5e33016088d8961f18c425e5'), 'nombre': 'Juan', 'edad': 23},
 {'_id': ObjectId('5e3301f588d8961f18c425e7'),
  'nombre': 'Pedro',
  'edad': 23,
  'altura': 1.8},
 {'_id': ObjectId('5e3302b888d8961f18c425e8'), 'nombre': 'Juan', 'edad': 23}]

In [21]:
list(colec.find({'edad':{'$lt':30}}))

[{'_id': ObjectId('5e33016088d8961f18c425e5'), 'nombre': 'Juan', 'edad': 23},
 {'_id': ObjectId('5e3301f588d8961f18c425e7'),
  'nombre': 'Pedro',
  'edad': 23,
  'altura': 1.8},
 {'_id': ObjectId('5e3302b888d8961f18c425e8'), 'nombre': 'Juan', 'edad': 23}]

In [22]:
list(colec.find({'edad':{'$gte':30}}))

[{'_id': ObjectId('5e3301f588d8961f18c425e6'), 'nombre': 'Maria', 'edad': 34},
 {'_id': 0, 'nombre': 'Ana', 'edad': 31}]

In [25]:
list(colec.find().sort('edad', -1))

[{'_id': ObjectId('5e3301f588d8961f18c425e6'), 'nombre': 'Maria', 'edad': 34},
 {'_id': 0, 'nombre': 'Ana', 'edad': 31},
 {'_id': ObjectId('5e33016088d8961f18c425e5'), 'nombre': 'Juan', 'edad': 23},
 {'_id': ObjectId('5e3301f588d8961f18c425e7'),
  'nombre': 'Pedro',
  'edad': 23,
  'altura': 1.8},
 {'_id': ObjectId('5e3302b888d8961f18c425e8'), 'nombre': 'Juan', 'edad': 23}]

In [26]:
colec.delete_one({'nombre': 'Pedro','edad': 23,'altura': 1.8})

In [27]:
list(colec.find())

[{'_id': ObjectId('5e33016088d8961f18c425e5'), 'nombre': 'Juan', 'edad': 23},
 {'_id': ObjectId('5e3301f588d8961f18c425e6'), 'nombre': 'Maria', 'edad': 34},
 {'_id': 0, 'nombre': 'Ana', 'edad': 31},
 {'_id': ObjectId('5e3302b888d8961f18c425e8'), 'nombre': 'Juan', 'edad': 23}]

In [28]:
colec.update_one({'nombre':'Maria'}, {'$set':{'nombre':'Lolo'}})
list(colec.find())

[{'_id': ObjectId('5e33016088d8961f18c425e5'), 'nombre': 'Juan', 'edad': 23},
 {'_id': ObjectId('5e3301f588d8961f18c425e6'), 'nombre': 'Lolo', 'edad': 34},
 {'_id': 0, 'nombre': 'Ana', 'edad': 31},
 {'_id': ObjectId('5e3302b888d8961f18c425e8'), 'nombre': 'Juan', 'edad': 23}]

In [29]:
colec.drop()

In [30]:
db.list_collection_names()

[]

In [31]:
# geoqueries

from pymongo import MongoClient

cliente=MongoClient('mongodb://localhost:27017')

In [32]:
db=cliente.companies

In [33]:
al_menos_1_ofi=db.companies.find({'offices':{'$not':{'$size':0}}},
                                 {'name':1, '_id':0, 'offices':1})

In [34]:
import pandas as pd

df=pd.DataFrame(al_menos_1_ofi)
df.head()

        name                                            offices
0   Wetpaint  [{'description': '', 'address1': '710 - 2nd Av...
1  AdventNet  [{'description': 'Headquarters', 'address1': '...
2       Zoho  [{'description': 'Headquarters', 'address1': '...
3       Digg  [{'description': None, 'address1': '135 Missis...
4   Facebook  [{'description': 'Headquarters', 'address1': '...

In [35]:
df=df.dropna()

In [36]:
def get_first(data):
    data=data['offices']
    
    principal=None
    
    if data[0]['latitude'] and data[0]['longitude']:
        principal={'type':'Point',
                  'coordinates':[data[0]['longitude'],
                                 data[0]['latitude']]}
        
    return {'totalOffices':len(data),
           'lat':data[0]['latitude'],
           'lng':data[0]['longitude'],
            'oficina_principal':principal}

In [41]:
first_office=df[['offices']].apply(get_first, result_type='expand', axis=1)

In [42]:
first_office

,totalOffices,lat,lng,oficina_principal
0,2.0,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,..."
1,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
2,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
3,1.0,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,..."
4,3.0,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,..."
...,...,...,...,...
13739,1.0,47.088219,8.437163,"{'type': 'Point', 'coordinates': [8.4371634, 4..."
13740,1.0,NaN,NaN,NaN
13741,1.0,40.793024,-74.323554,"{'type': 'Point', 'coordinates': [-74.3235539,..."
13742,1.0,33.518885,-86.816068,"{'type': 'Point', 'coordinates': [-86.816068, ..."
13743,1.0,33.407786,-86.761302,"{'type': 'Point', 'coordinates': [-86.7613019,..."

In [43]:
first_office=first_office.dropna()

In [44]:
df_clean=pd.concat([df, first_office], axis=1)[['name', 'lat', 'lng', 
                                               'oficina_principal', 'totalOffices']]

In [45]:
df_clean.head()

,name,lat,lng,oficina_principal,totalOffices
0,Wetpaint,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,...",2.0
1,AdventNet,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,...",1.0
2,Zoho,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,...",1.0
3,Digg,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,...",1.0
4,Facebook,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,...",3.0

In [46]:
df_clean=df_clean.dropna()

In [47]:
# df_clean.to_json('data/oficinas.json')

In [48]:
db.first_office.insert_many(df_clean.to_dict('records'))

In [49]:
list(db.first_office.find().limit(5))

[{'_id': ObjectId('5e330b9e88d8961f18c425ea'),
  'name': 'Wetpaint',
  'lat': 47.603122,
  'lng': -122.333253,
  'oficina_principal': {'type': 'Point',
   'coordinates': [-122.333253, 47.603122]},
  'totalOffices': 2.0},
 {'_id': ObjectId('5e330b9e88d8961f18c425eb'),
  'name': 'AdventNet',
  'lat': 37.692934,
  'lng': -121.904945,
  'oficina_principal': {'type': 'Point',
   'coordinates': [-121.904945, 37.692934]},
  'totalOffices': 1.0},
 {'_id': ObjectId('5e330b9e88d8961f18c425ec'),
  'name': 'Zoho',
  'lat': 37.692934,
  'lng': -121.904945,
  'oficina_principal': {'type': 'Point',
   'coordinates': [-121.904945, 37.692934]},
  'totalOffices': 1.0},
 {'_id': ObjectId('5e330b9e88d8961f18c425ed'),
  'name': 'Digg',
  'lat': 37.764726,
  'lng': -122.394523,
  'oficina_principal': {'type': 'Point',
   'coordinates': [-122.394523, 37.764726]},
  'totalOffices': 1.0},
 {'_id': ObjectId('5e330b9e88d8961f18c425ee'),
  'name': 'Facebook',
  'lat': 37.41605,
  'lng': -122.151801,
  'oficina_principal': {'type': 'Point',
   'coordinates': [-122.151801, 37.41605]},
  'totalOffices': 3.0}]

In [50]:
# crear index

db.first_office.create_index([('oficina_principal', '2dsphere')])

'oficina_principal_2dsphere'

In [51]:
def find_near(geopoint, radio=1000):
    return db.first_office.find({'oficina_principal':{'$near':{'$geometry':geopoint,
                                                     '$maxDistance':radio}}})

In [52]:
park_avenue={'type':'Point', 'coordinates':[-73.987308, 40.738935]}
radio=10000


n_ofi=find_near(park_avenue, radio).count()
n_ofi

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """

556

In [53]:
print ('La mas cercana es ', list(find_near(park_avenue, radio).limit(1))[0]['name'])

La mas cercana es  SpaBooker

In [54]:
pd.DataFrame(find_near(park_avenue, radio))

,_id,name,lat,lng,oficina_principal,totalOffices
0,5e330b9e88d8961f18c443a0,SpaBooker,40.738567,-73.987199,"{'type': 'Point', 'coordinates': [-73.987199, ...",1.0
1,5e330b9e88d8961f18c43178,HealthiNation,40.739341,-73.988357,"{'type': 'Point', 'coordinates': [-73.988357, ...",1.0
2,5e330b9e88d8961f18c42d60,Special Ops Media,40.737721,-73.987725,"{'type': 'Point', 'coordinates': [-73.987725, ...",1.0
3,5e330b9e88d8961f18c449f2,Mashable,40.740154,-73.986742,"{'type': 'Point', 'coordinates': [-73.9867417,...",1.0
4,5e330b9e88d8961f18c43af7,Return Path,40.740207,-73.987002,"{'type': 'Point', 'coordinates': [-73.987002, ...",1.0
...,...,...,...,...,...,...
551,5e330b9e88d8961f18c43d5b,Dot Com Infoway,40.812933,-73.958633,"{'type': 'Point', 'coordinates': [-73.9586329,...",3.0
552,5e330b9e88d8961f18c440c1,Hyperpot,40.659981,-73.994836,"{'type': 'Point', 'coordinates': [-73.9948358,...",1.0
553,5e330b9e88d8961f18c42e6e,StubOrder,40.660393,-73.957626,"{'type': 'Point', 'coordinates': [-73.957626, ...",1.0
554,5e330b9e88d8961f18c43648,Klatcher,40.822087,-73.950677,"{'type': 'Point', 'coordinates': [-73.950677, ...",1.0
555,5e330b9e88d8961f18c437e8,Klatcher,40.822087,-73.950677,"{'type': 'Point', 'coordinates': [-73.950677, ...",1.0