# Funcion Lambda (funcion anonima)

In [1]:
def suma(a, b):
    return a+b

In [2]:
suma(5, 80)

85

In [4]:
suma2=lambda a,b: a+b

In [13]:
type(suma2)

function

In [5]:
suma2(5, 80)

85

In [6]:
suma3=lambda a, b=10: a+b

In [7]:
suma3(5)

15

In [8]:
suma3(5, 80)

85

In [12]:
lst=[1,2,3,4,5]

q=[(lambda x: x**2)(e) for e in lst]
q

[1, 4, 9, 16, 25]

In [10]:
def cuad(x):
    return x**2


q=[cuad(e) for e in lst]
q

[1, 4, 9, 16, 25]

# Map (Mathematical application)

In [14]:
map(lambda x: x**2, lst)

In [15]:
list(map(lambda x: x**2, lst))

[1, 4, 9, 16, 25]

In [16]:
for e in map(lambda x: x**2, lst):
    print (e)

1
4
9
16
25

In [17]:
list(map(cuad, lst))

[1, 4, 9, 16, 25]

In [18]:
a=[1,2,3,4]
b=[5,6,7,8]
c=[10, 15, 20, 30]

list(map(lambda x,y,z :x*y*z, a,b,c))

[50, 180, 420, 960]

# Filter

In [20]:
def multiplo(n):
    if n%2==0: 
        return True

In [21]:
num=[1,4,56,78,9]

In [22]:
filter(multiplo, num)

In [23]:
list(filter(multiplo, num))

[4, 56, 78]

In [24]:
list(filter(lambda x: True if x%2!=0 else False, num))

[1, 9]

In [25]:
# multifilter

hoteles=[
    {'name':'Ritz', 'hasPool':True, 'stars':5},
    {'name':'Pension Loli', 'hasPool':False, 'stars':2},
    {'name':'Palace', 'hasPool':True, 'stars':3},
    {'name':'Roma Norte', 'hasPool':True, 'stars':2},
]

In [26]:
less_3_stars=lambda x: x['stars']<3
with_pool=lambda x: x['hasPool']

In [27]:
def multi(x):
    return less_3_stars(x) and with_pool(x)

In [28]:
list(filter(less_3_stars, hoteles))

[{'name': 'Pension Loli', 'hasPool': False, 'stars': 2},
 {'name': 'Roma Norte', 'hasPool': True, 'stars': 2}]

In [29]:
list(filter(with_pool, hoteles))

[{'name': 'Ritz', 'hasPool': True, 'stars': 5},
 {'name': 'Palace', 'hasPool': True, 'stars': 3},
 {'name': 'Roma Norte', 'hasPool': True, 'stars': 2}]

In [30]:
list(filter(multi, hoteles))

[{'name': 'Roma Norte', 'hasPool': True, 'stars': 2}]

# Reduce

In [31]:
from functools import reduce

In [32]:
def suma(a,b):
    return a+b

a=[1,2,3,4,5,6,7,8,9]

In [33]:
reduce(suma, a)

45

In [34]:
def recur(ac, e):
    print ('Acumulado: {} + elemento: {}'.format(ac, e))
    return ac+e

In [37]:
%time print ('Resultado reduce', reduce(recur, a))

Acumulado: 1 + elemento: 2
Acumulado: 3 + elemento: 3
Acumulado: 6 + elemento: 4
Acumulado: 10 + elemento: 5
Acumulado: 15 + elemento: 6
Acumulado: 21 + elemento: 7
Acumulado: 28 + elemento: 8
Acumulado: 36 + elemento: 9
Resultado reduce 45
CPU times: user 680 µs, sys: 574 µs, total: 1.25 ms
Wall time: 738 µs

In [43]:
r=0
%time 
for e in a:
    r+=e
print(r)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.01 µs
45

In [45]:
reduce(lambda ac, e: ac+e[1]['name']+', ' if e[0]<len(hoteles)-1 
       else ac+e[1]['name'], enumerate(hoteles), '')

'Ritz, Pension Loli, Palace, Roma Norte'